@tailwind base;

@tailwind components;

@tailwind utilities;

.container {
    @apply w-4/5 relative ml-auto;
}

h1, .header a  {
    @apply text-2xl font-bold;
}

.header a {
    @apply opacity-50;
    transition: opacity .1s ease-in;
}

.header a:hover {
    @apply opacity-100;
}

.header {
    @apply flex items-center sticky top-0 left-0 right-0 px-8 py-4 bg-white z-10
}

.dog-image {
    padding-bottom: 56.25%;
}

.dog-image img {
    @apply absolute inset-0 w-full h-full z-10;
}

.spinner {
    width: 40px;
    height: 40px;
    margin: 100px auto;
    background-color: rgba(0,0,0,.4);
    border-radius: 100%;
    animation: sk-scaleout 1.0s infinite ease-in-out;
}

@keyframes sk-scaleout {
    0% {
        transform: scale(0);
    } 100% {
        transform: scale(1.0);
        opacity: 0;
    }
}

.fade {
    animation: fade .1s ease-in-out;
}

@keyframes fade {
    0% {
        opacity: 0;
    } 100% {
        opacity: 1;
    }
}