@tailwind base;

@tailwind components;

@tailwind utilities;

.container {
    @apply w-full relative;
    max-width: inherit;
}

@screen lg {
    .container {
        @apply w-11/12 ml-auto;
    }
}

h1, .header a  {
    @apply text-lg font-bold;
}

@screen md {
    h1, .header a  {
        @apply text-2xl;
    }
}

.header a {
    @apply opacity-50;
    transition: opacity .1s ease-in;
}

a {
    transition: all .1s ease-in;
}

.header a:hover {
    @apply opacity-100;
}

.dog-image {
    height: 27rem;
}

.spinner {
    width: 40px;
    height: 40px;
    margin: 100px auto;
    background-color: rgba(0,0,0,.4);
    border-radius: 100%;
    animation: sk-scaleout 1.0s infinite ease-in-out;
}

@keyframes sk-scaleout {
    0% {
        transform: scale(0);
    } 100% {
        transform: scale(1.0);
        opacity: 0;
    }
}

.fade {
    animation: fade .1s ease-in-out;
}

@keyframes fade {
    0% {
        opacity: 0;
    } 100% {
        opacity: 1;
    }
}